[submodule "submodules/libimobiledevice"]
	path = submodules/libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
[submodule "submodules/libusbmuxd"]
	path = submodules/libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd
[submodule "submodules/libplist"]
	path = submodules/libplist
	url = https://github.com/libimobiledevice/libplist
[submodule "submodules/libimobiledevice-glue"]
	path = submodules/libimobiledevice-glue
	url = https://github.com/libimobiledevice/libimobiledevice-glue
[submodule "submodules/gnutls"]
	path = submodules/gnutls
	url = https://github.com/gnutls/gnutls
